[Desktop Entry]
Version=1.0
Type=Application
Name=Unofficial HipChat
Icon=hipchatfordesktop
Exec=/opt/HipChatForDesktop/UnofficialHipChat
Comment=Unofficial HipChat for Desktop
Categories=Network;Chat;
Terminal=false
